# FEIDEGGER Project .gitignore
# Ignore output folder for finetuned models and results
output/
evaluation/
pretrained_models/*
!pretrained_models/README.md
!pretrained_models/setup_pretrained_models.py

dataset/
checkpoints/
!data/feidegger_crawler.py
data/embeddings/
data/intra_class_metrics/
data/feidegger_metadata.csv
data/retrieval_results/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/
.conda/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Downloaded images folder
images/

# Logs
*.log

# Temporary files
*.tmp
